body {
    background-color: #f7e4c7;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.nav-list {
    display: flex;
    justify-content: end;
    gap: 1rem;

    padding: 10px;
    list-style: none;
    margin: 10px;
}

.nav-list li {
}

h1 {
    color: #103b4c;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    margin: 20px;
}

img {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    padding: 20px;
}

.cont {
    color: #103b4c;
    font-size: 1em;
    text-align: left;
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.cont ul {
    overflow: auto;
    text-align: left;
}

.cont li {
    color: #103b4c;
    font-size: 1.2em;
    margin: 10px;
    padding: 10px;
}